.all-components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.3rem;
}

.all-components-title {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: 40%;
}

.card {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  margin: 1rem 3rem;
  position: relative;
}

.card .name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: auto;
}

.card .edit-btn,
.card .del-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  position: absolute;
  top: 1rem;
  opacity: 0.3;
}

.card .edit-btn:hover,
.card .del-btn:hover {
  opacity: 1;
}

.card .edit-btn dotlottie-player,
.card .del-btn dotlottie-player {
  filter: invert(1);
}

.card .edit-btn {
  background: green;
  left: 1rem;
}

.card .del-btn {
  background: red;
  right: 1rem;
}

.card img {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-bottom: 2rem;
}

.card .category {
  font-size: 0.9rem;
  color: gray;
  text-transform: uppercase;
}

.card .pills {
  display: flex;
  grid-gap: 0.4rem;
  margin: auto;
  margin-top: 2rem;
}

.card .pills span {
  background: rgb(69, 69, 69);
  border-radius: 8px;
  padding: 0.1rem 1rem;
  color: white;
  text-transform: capitalize;
}
