form.add-component {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  align-items: center;
  grid-gap: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
}

form.add-component label {
  text-align: right;
  font-size: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form.add-component .hidden {
  display: none;
}

form.add-component button {
  font-size: 1rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 3rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  background-color: #004672;
  color: white;
}

form.add-component button:hover {
  background-color: #001e30;
}

form.add-component input,
form.add-component select,
form.add-component textarea {
  border: none;
  outline: none;
  width: 100%;
  border: solid 1px transparent;
  outline: none;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  background: #f1fff1b6;
  margin-top: 1rem;
}

.cm-editor {
  background: #f1fff1b6;
  outline: none;
  border: none;
}
